<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopet</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/app.css">

    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="https://kit.fontawesome.com/321fe63c30.js" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" defer></script>
    <script src="https://raw.githubusercontent.com/igorescobar/jQuery-Mask-Plugin/master/dist/jquery.mask.min.js" defer>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" defer></script>
    <script src="./js/default.js" defer></script>
    <script src="./js/contact.js" defer></script>
</head>

<body class="background background-sm-none">
    <!-- NAVBAR -->
    <div id="nav" class="nav nav-profile-active nav-invert-index">
        <%- include('./template/nav'); %>
    </div>

    <!-- MAIN -->
    <main class="main-home p-2">
        <p class="main-home-desc main-home-desc-blue">
            Envie uma mensagem para a pessoa ou instituição que está cuidado do animal:
        </p>
        <form class="form form-background" id="form-contact">
            <fieldset class="form-fieldset">
                <label for="name" class="form-fieldset-label form-background-fieldset-label">Nome</label>
                <input type="text" id="name" name="name" class="form-fieldset-field form-background-fieldset-field"
                    value="<%- session.user.name%>" placeholder="Insira seu nome completo" readonly />
            </fieldset>
            <fieldset class="form-fieldset">
                <label for="phone" class="form-fieldset-label form-background-fieldset-label">Telefone</label>
                <input type="text" value="<%- session.user.phone%>" id="phone" name="phone"
                    class="form-fieldset-field form-background-fieldset-field"
                    placeholder="Insira seu telefone e/ou whatsapp" />
            </fieldset>
            <fieldset class="form-fieldset">
                <label for="pet" class="form-fieldset-label form-background-fieldset-label">Nome do animal</label>
                <input type="text" id="pet" name="pet" class="form-fieldset-field form-background-fieldset-field"
                    placeholder="Por qual animal você se interessou?" value="<%-pet%>" />
            </fieldset>
            <fieldset class="form-fieldset">
                <label for="message" class="form-fieldset-label form-background-fieldset-label">Mensagem</label>
                <textarea id="message" name="message" class="form-fieldset-field form-background-fieldset-field"
                    placeholder="Escreva sua mensagem" rows="5"></textarea>
            </fieldset>
            <button class="btn m-1" type="button" id="btn-contact">Enviar</button>
        </form>
    </main>

    <!-- FOOTER -->
    <%- include('./template/footer'); %>
</body>

</html>